#mysvg path {
  animation: wave 2.5s linear infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wave {
  0%,
  100% {
    background-color: white;
    fill-opacity: 100%;
  }
  50% {
    fill-opacity: 20%;
  }
}

#moveUpDown {
  animation: up-down 4s ease-in-out infinite;
}
#moveUpDown100 {
  animation: up-down 4s ease-in-out infinite;
  animation-delay: 0.5s;
}

@keyframes up-down {
  0%,
  100% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(8%);
  }
}

.Activitycontainer {
  display: flex;
  width: 1420px;
  height: 1000px;
  left: 250px;
  top: 80px;
}
.spinwheel {
  width: 700px;
  height: 490px;
  left: 250px;
  top: 80px;
  border: 1px solid #0f172a;
  box-sizing: border-box;
  border-radius: 25px;
}
.Miniclip {
  position: absolute;
  width: 700px;
  height: 490px;
  left: 970px;
  top: 80px;
  border: 1px solid #0f172a;
  box-sizing: border-box;
  border-radius: 25px;
}
