.customContainer1 {
  /* width: 500px; */
  display: inline-block;
  /* transform: translateY(40%); */
  height: inherit;
}
.bar {
  background: #ffffff;
  width: 20px;
  height: 110px;
}
.bar1 {
  float: left;
}
.bar2 {
  float: right;
}
.ball {
  background: #ffffff;
  width: 20px;
  height: 20px;
  position: relative;
  top: 45px;
  left: 10px;
}
